/* Общий стиль страницы */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  color: #333; /* Серый текст */
}

/* Основной контейнер */
.container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 40px;
  width: 600px; /* Уменьшенная ширина */
  max-width: 90%;
  text-align: center;
}

/* Заголовок */
h1 {
  color: #673AB7; /* Фиолетовый */
  margin-bottom: 20px;
}

/* Заголовок формы */
h2 {
  margin-bottom: 10px;
}

/* Форма */
#createTaskForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Поля ввода */
#createTaskForm div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#createTaskForm label {
  font-weight: bold;
}

#createTaskForm input[type="text"],
#createTaskForm textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Кнопка */
#createTaskForm button {
  background-color: #9C27B0; /* Темно-фиолетовый */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: bold;
  text-decoration: none;
}

#back-btn button {
  background-color: #9C27B0; /* Темно-фиолетовый */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: bold;
  text-decoration: none;
}

#createTaskForm button:hover {
  background-color: #7B1FA2; /* Более светлый фиолетовый */
}

/* Футер */
footer {
  margin-top: 40px;
  font-size: 0.8em;
}