body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

/* Контейнер для формы */
.registration-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 40px;
  width: 400px;
}

/* Заголовок */
h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #673AB7; /* Фиолетовый */
}

/* Форма */
form {
  display: flex;
  flex-direction: column;
}

/* Поля ввода */
input[type="text"],
input[type="email"],
input[type="password"] {
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
}

/* Кнопка входа */
button[type="submit"] {
  background-color: #9C27B0; /* Темно-фиолетовый */
  color: white;
  padding: 14px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: bold;
}

button[type="submit"]:hover {
  background-color: #7B1FA2; /* Более светлый фиолетовый */
}

/* Ссылка на забытый пароль */
.login-link {
  text-align: center;
  margin-top: 15px;
  color: #673AB7; /* Фиолетовый */
  text-decoration: none;
}

.login-link:hover {
  text-decoration: underline;
}