<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Task Tracker - Задачи пользователя: {{username}}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/view_tasks.css') }}">
</head>
<body>
  <div class="container">
    <header>
      <form action="" method="POST">
        <input type="hidden" name="dummy" value="dummy">
        <button class="btn" type="submit" name="back-btn" value="3">Вернуться на домашнюю страницу</button>
      </form>
      <h1>Task Tracker</h1>
    </header>
    <main>
      <h2>Задачи пользователя: {{ username }}</h2>
      <ul class="task-list" id="allTasks">
        {% for task in query %}
          <li class="task">
            <span class="task-name">{{ task[0] }}</span>
            <span class="task-description">{{ task[1] }}</span>
            <form method="POST" action="">
              <input type="hidden" name="task_name" value="{{ task[0] }}">
              <button class="view-btn" type="submit" name="viewButton" value="1">Просмотреть</button>
              <input type="hidden" name="task_name" value="{{ task[0] }}">
              <button class="delete-btn" type="submit" name="deleteButton" value="2">Удалить</button>
            </form>
          </li>
        {% endfor %}
      </ul>
    </main>
    <footer>
      <p>&copy; 2024 Task Tracker</p>
    </footer>
  </div>
</body>
</html>